
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}
        
        <iframe title="The Crypto Masters Podcast" id="multi_iframe" src="https://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F3966373%2Fplaylist_multi.xml&vjs=1&kdsowie31j4k1jlf913=e85c1cd247045373790cc9a9960940a015ecf3f0&size=430&skin=14&episode_list_bg=%23ffffff&bg_left=%23000000&bg_mid=%23000000&bg_right=%23ffd400&podcast_title_color=%23ffd400&episode_title_color=%23ffd400&auto=0&share=1&fonts=Helvetica&download=1&rtl=0&show_playlist_recent_number=5&pbad=1" frameborder="0" scrolling="no" width="100%" height="432" allowfullscreen=""></iframe>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
